.primary,
.secondary,
.outline,
.text {
  cursor: pointer;

  display: inline-flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 24px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  border: none;
  border-radius: 2px;
  outline: none;

  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.primary {
  background-color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-100);
  }

  &:active {
    color: var(--kebab-light-500);
    background-color: var(--color-accent-700);
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-700);
  }

  &:disabled {
    cursor: unset;
    color: var(--kebab-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-400);
  }

  &:focus-visible {
    outline: 1px solid var(--color-accent-300);
  }

  &:disabled {
    cursor: unset;
    color: var(--color-light-900);
    background-color: var(--color-dark-500);
  }
}

.outline {
  padding: 5px 24px;
  color: var(--color-accent-500);
  background-color: transparent;
  border: 1px solid var(--color-accent-500);

  &:focus-visible {
    color: var(--color-accent-500);
    border-color: var(--color-accent-700);
    outline: 1px solid var(--color-accent-700);
  }

  &:hover {
    color: var(--color-accent-100);
    border-color: var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-100);
    border-color: var(--color-accent-100);
  }

  &:disabled {
    cursor: unset;
    color: var(--color-accent-900);
    border-color: var(--color-accent-900);
  }
}

.text {
  color: var(--color-accent-500);
  background-color: transparent;

  &:focus-visible {
    color: var(--color-accent-700);
    outline: 2px solid var(--color-accent-700);
  }

  &:hover {
    color: var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled {
    cursor: unset;
    color: var(--color-accent-900);
  }
}

.fullWidth {
  width: 100%;
}
