.months {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 14px 22px;
  border: 1px solid var(--color-dark-300);
  background-color: var(--color-dark-500);
  border-radius: 2px;
}

.monthCaption {
  font-weight: var(--font-weight-bold);
  font-size:  var(--font-size-m);
  line-height: var(--line-height-m);
  position: absolute;
  top: 22px;
  left: 35px;
}

.monthCaptionWithDropDown {
  position: absolute;
  top: 22px;
  left: 27px;
}

.captionLabel {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-weight: var(--font-weight-bold);
  font-size:  var(--font-size-m);
  line-height: var(--line-height-m);
}

.monthGrid {
  border-collapse: collapse;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.navButton {
  display: flex;
  justify-content: center;
  width: 36px;
  height: 36px;
  align-items: center;
  background-color: var(--color-dark-100);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-dark-300);
  }

  & svg {
    fill: var(--color-light-100);
  }
}

.chevron {
  cursor: pointer;
  fill: var(--color-light-100);
}

.selected {
  background-color: var(--color-accent-900);
  color: var(--color-light-100);
}

.day {
  padding: 6px;
  text-align: center;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-accent-700);
    color: var(--color-light-100);
    border-radius: 50%;
    transition: background-color 0.2s;
  }
}

.dayRangeStart {
  background-color: var(--color-accent-900);
  border-radius: 50% 0 0 50%;
}

.dayRangeEnd {
  background-color: var(--color-accent-900);
  border-radius: 0 50% 50% 0;
}

.dayRangeMiddle {
  background-color: var(--color-accent-900);
  border-radius: 0;
}

.dayRangeStart.dayRangeEnd {
  border-radius: 50%;
}

.today {
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
}

.weekend {
  color: var(--color-danger-300);
}

.weekday {
  color: var(--color-light-900);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  width: 36px;
  height: 40px;
  padding-bottom: 20px;
}

.outside {
  color: var(--color-light-900);
}

.dropdownRoot {
  align-items: center;
  display: inline-flex;
  position: relative;
  cursor: pointer;
}

.dropdowns {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
}

.dropdown {
  appearance: none;
  opacity: 0;
  padding: 5px;
  position: absolute;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  border: none;
  outline: 0;
  border-radius: 0;
  background-color: inherit;

  option {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-100);
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    color: var(--color-light-900);
    cursor: pointer;

    &:hover {
      color: var(--color-accent-500);
      background-color: var(--color-dark-300);
    }
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-dark-500);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-100);
  }
}
