.gridContainer {
  width: 100%;
  position: relative;
}

.popoverTrigger {
  display: flex;
  gap: 23px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 6px 12px;

  color: var(--color-light-100);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &:focus {
    border-color: var(--color-accent-700);
  }

  &:hover {
    border-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-300);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-light-900);
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-300);
  }

  &[data-state="open"] {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-300);
  }
}

  .disabled {
    color: var(--color-dark-100);
  }


.error {
  color: var(--color-danger-500);
  background-color: var(--color-dark-500);
  border-color: var(--color-danger-500);
}

.errorText {
  color: var(--color-danger-500);
}
