.datePickerWrapper {
  position: relative;
  display: inline-block;
  span{
    svg {
      fill: var(--color-light-100)
    }
  }

}

.datePicker {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 180px;
  position: relative;
  z-index: 2;
  background-color: var(--color-dark-900);
  border-radius: 2px;
  box-sizing: border-box;
  /* Dark/300 */
  border-bottom: 1px solid var(--color-dark-300);
  border-top: 1px solid var(--color-dark-300);
  border-right: none;
  border-left: none;
  padding: 6px 15px 6px 12px;
  cursor: pointer;
  transition: all .1s;
  &:hover {
    border-top: none;
    border-left: 1px solid var(--color-dark-300);
    border-right: 1px solid var(--color-dark-300);
    background:  var(--color-dark-500);
  }
}

.datePicker::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  z-index: 3;
  opacity: 0;
}

.customIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index: 1;
  fill: currentColor;
}

.datePicker:focus {
  outline: none;
  border-color: #007bff;
}